<% include head %>
<body>

<header>
	<% include header %>
</header>
	
<div id="add-wrapper">
	<h1 class="add-title">Add Your Own Vehicle Image</h1>
	<div>

		<form class="vote-button" action="./add" method="post">
	  	    <input class="add-input" type="url" minlength="8" name="photoUrl" placeholder="Enter Image URL"/>
	  	    <input type="submit" class="btn btn-success" value="Submit" />
	  	</form>

	</div>
</div>
<footer>
	<% include footer %>
</footer>
</body>
</html>