<% include head %>
<body>

<header>
	<% include header %>
</header>
	
<div>

	<form class="vote-button" action="./add" method="post">
  	    <input type="text" name="photoUrl" placeholder="Enter Image URL"/>
  	    <input type="submit" class="btn btn-info" value="Electric!" />
  	</form>

</div>
<footer>
	<% include footer %>
</footer>
</body>
</html>