<% include head %>
<body>

<header>
	<% include header %>
</header>


<div id="intro-page-wrapper">
	<div id="intro-page">
		<img src="images/logo.png">
		<h1>Lets Vote!</h1>
		<p>This site is built using MongoDB and Node.js.  A user is presented with a car and they can cast a vote on whether they like the car or not.  There is a standings page where they can view the current vote count for each car.  They also have the ability to add their own images which can then be voted on if they so desire.</p>
		<button id="intro-button" onclick="viewProject()">View Project</button>
	</div>
</div>


	
<div id="photos-wrapper">
	<h1>A Node.js Voting Game</h1>
	<div id="photos">
		
		<img src="<%= photos.address %>">

	</div>

	
	<div class="button-holder">
  	    <form class="vote-button" action="./electric" method="post">
  	        <input type="hidden" name="photo" value="<%= photos.address %>" />
  	        <input type="submit" class="btn btn-info" value="Electric!" />
  	    </form>
  	    <form class="vote-button" action="./poser" method="post">
  	        <input type="hidden" name="photo" value="<%= photos.address %>" />
  	        <input type="submit" class="btn btn-info" value="Poser" />
  	    </form>
  	</div>


</div>
<footer>
	<% include footer %>
</footer>
</body>
</html>