<% include head %>
<body>

	<script>
		setTimeout(function(){
			var windowHeight = window.innerHeight;
			$('#intro-page-wrapper').css('height', windowHeight + 'px');
			var contentHeight = $('#intro-page').height();
			var paddingAdjust = parseInt((windowHeight - contentHeight-25)/2);
			$('#logo').css('padding-top', paddingAdjust + 'px');
		},10);

	</script>	

<div id="intro-page-wrapper">
	<div id="intro-page">
		<img id="logo" src="images/logo.png">
		<h1>Lets Vote!</h1>
		<p>This site is built using MongoDB and Node.js.  A user is presented with a car and they can cast a vote on whether they like the car or not.  There is a standings page where they can view the current vote count for each car.  They also have the ability to add their own images which can then be voted on if they so desire.</p>
		<a href="/"><button id="intro-button">View Project</button></a>
	</div>
</div>

</body>