<% include head %>
<body>

<header>
<% include header %>
</header>

<div id="standings">
	<!-- <div class="new-user-button">
		<form class="vote-button" action="./reset" method="post">
			<input type="submit" class="btn btn-primary" value="New User!"/>
		</form>
	</div> -->
	<h1>Most Liked Vehicles</h1>
	<ul>
		<% for(i=0; i<photosStandings.length; i++){ %>

		<li>
			<img src="<%= photosStandings[i].address %>">
			<p class="up"><%= photosStandings[i].totalVotes %> 
			<span class="glyphicon glyphicon-thumbs-up"></span></p>
		</li>
		<% } %>
	</ul>
</div>
	
<footer>
	<% include footer %>
</footer>
</body>
</html>